section{
    width: 1000px;
    margin: auto;
}

.agent-title{
    font-size: 23px;
    padding: 14px;
    font-weight: bold;
    margin-top: 30px;
    box-shadow: 2px 6px 10px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 6px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 10px -4px rgba(0,0,0,0.75);
}

.agent-img{
    width: 150px;
}

.agent-box{
    display: flex;
    margin-top: 20px;
    width: 475px;
    height: 170px;
    border: 1px solid black;
    
}
a{
    text-decoration: none;
}

.agent-box:hover{
    cursor: pointer;
    background-color: rgb(250, 243, 243);
}

.agent-detail{
    width: 325px;
    padding: 10px;
}

.agent-dtl-title{
    font-size: 16px;
    font-weight: bold;

}

.elan-say{
    font-size: 12px;
    opacity: 0.5;
}

.agent-contact{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.agent-detail span{
    margin-left: 3px;
}

.agent-text{
    font-size: 13px;
    
}

.agent-text{
    font-size: 14px;
    margin-top: 3px;
}

.elan-lists{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.agent-box:nth-child(even){
    margin-left: 20px;
}

@media only screen and (max-width: 600px){

    section{
        width: 100%;
    }

    .agent-box{
        width: 95%;
        height: 213px;
    }

    .agent-box:nth-child(even){
        margin-left: 0;
    }
}